
h2{
  font-style: italic;
  font-size: x-large;

}

p {
  color: white;
  font-size: large;
}

header{
  align-content: center;
  color: #ffffff;
  font-style: italic;
  background-color: black;
  text-align: center;
}


footer {
  font-size: small;
  text-align: center;
  color: gray;
}


.demo {
  font-style: oblique; 
}


#container {
  display: grid;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "skills education"
    "languages education"
    "certificates certificates";
  gap: 20px;
  padding: 20px;
}


header {
  grid-area: header;
}

nav {
  grid-area: nav;
  text-align: center;
  background-color: lightgray;
}

nav a {
  color: black;
  margin: 10px;
}

#education {
  grid-area: education;
}

#certificates {
  grid-area: certificates;
}

#skills {
  grid-area: skills;
}

#languages {
  grid-area: languages;
}

nav{
  align-content: center;
}

/*.container {
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto 300px auto;
/* filas personalizadas */
/*gap: 10px;}

/* espacio entre celdas */

body {
background-color: white;
color: black;
}
.oscuro {
background-color: black;
color: white;
}