
h2{
  font-style: italic;
  font-size: x-large;

}

p {
  color: white;
  font-size: large;
}

header{
  align-content: center;
  color: #ffffff;
  font-style: italic;
  background-color: black;
  text-align: center;
}


footer {
  font-size: small;
  text-align: center;
  color: gray;
}


.demo {
  font-style: oblique; 
}


nav {
  grid-area: nav;
  text-align: center;
  background-color: lightgray;
  align-content: center;
}


nav a {
  color: black;
  margin: 10px;
}


body {
background-color: white;
color: black;
}

.oscuro {
background-color: black;
color: white;
}

.filtro {
  display: none;
}
