<div class="row">
  <div class="col-8">
    <h1 class="saludo">{{ textos.saludo }}</h1>
  </div>

  <div class="col">
    <button (click)="imprimir()">{{ textos.imprimir | uppercase }}</button>
  </div>

  <div class="col">
    <button (click)="toggleModoOscuro()">
      {{ modoOscuro ? textos.modoClaro : textos.modoOscuro }}
    </button>
  </div>
</div>

<ng-container *ngIf="isBrowser">
  <div class="mt-2">
    <button (click)="traducirHeader('EN')">🌍 EN</button>
    <button (click)="traducirHeader('ES')">🌍 ES</button>
  </div>

  <header>
    <div>
      <h1>{{ 'IRIS PILÓ' | titlecase }}</h1>

      <div class="row">
        <div class="col">
          <img src="assets/foto.png" alt="Foto de CV" width="200" class="img-thumbnail">
        </div>

        <div class="col-9">
          <p>{{ textos.parrafo }}</p>
        </div>
      </div>
    </div>
  </header>
</ng-container>